@import "@fontsource/sn-pro/400.css";
@import "@fontsource/sn-pro/600.css";
@import "@fontsource/sn-pro/700.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  exclude: properties;
  themes:
    night --default,
    business;
}

body {
  font-family:
    "SN Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
