@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  exclude: properties;
  themes:
    night --default,
    business;
}

body {
  font-family: "Open Sans", sans-serif;
}
