---
import Main from '../layouts/Main.astro'

import CodeBrackerSquare from 'astro-heroicons/outline/CodeBracketSquare.astro';
import Film from 'astro-heroicons/outline/Film.astro';
import Banknotes from 'astro-heroicons/outline/Banknotes.astro';
---

<Main title="Upmaru: Creator's Circle">
	<div class="px-6 lg:px-8">
		<div class="mx-auto max-w-2xl py-24 sm:py-24 lg:py-24">
  		<div class="mb-8 flex justify-center">
    		<div class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-400 ring-1 ring-white/10 hover:ring-white/20">
      		<span class="font-bold">Up</span> is the direction of data flow for creation
    		</div>
  		</div>
  		<div class="text-center">
    		<h1 class="text-4xl font-bold tracking-tight text-transparent sm:text-6xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Upmaru: Creator's circle</h1>
    		<p class="mt-6 text-lg leading-8 text-gray-300">The word 'Maru' is derived from the Japanese term for 'circle.' At Upmaru, we strongly believe in fostering direct relationships between creators and their viewers or users.</p>
  		</div>
		</div>
	</div>
	<div class="bg-gradient-to-r from-purple-400 via-blue-500 to-emerald-400 py-0.5">
		<div class="h-full w-full bg-slate-900 py-24 sm:py-24">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
  			<div class="mx-auto max-w-2xl lg:mx-0">
    			<h2 class="text-4xl font-bold tracking-tight text-transparent sm:text-6xl bg-clip-text bg-gradient-to-r from-purple-400 via-blue-500 to-emerald-400">Products</h2>
    			<p class="mt-6 text-lg leading-8 text-gray-300">We currently have a range of products in development, each designed to address specific challenges faced by various types of creators.</p>
  			</div>
  			<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
    			<div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
						<CodeBrackerSquare class="h-7 w-5 flex-none text-purple-400" />
      			<div class="text-base leading-7">
        			<h3 class="font-semibold text-white"><a href="https://web.instellar.app">instellar.app</a> <span class="inline-flex items-center rounded-full bg-purple-100 px-2 py-0.5 text-xs font-medium text-purple-800">Beta</span></h3>
        			<p class="mt-2 text-gray-300">Enable programmers and systems engineer monetize and ship code.</p>
      			</div>
    			</div>
		
    			<div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
						<Film class="h-7 w-5 flex-none text-blue-500" />
      			<div class="text-base leading-7">
        			<h3 class="font-semibold text-white">TBA</h3>
        			<p class="mt-2 text-gray-300">Content creators monetize and deliver direct to viewers and fans.</p>
      			</div>
    			</div>
		
    			<div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
						<Banknotes class="h-7 w-5 flex-none text-emerald-300" />
      			<div class="text-base leading-7">
        			<h3 class="font-semibold text-white">TBA</h3>
        			<p class="mt-2 text-gray-300">Brand new financial system for creators and the new economy.</p>
      			</div>
    			</div>
  			</div>
			</div>
		</div>
	</div>
</Main>
