---
import Main from '../layouts/Main.astro'
---

<Main title="Privacy Policy">
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-lg">
      <h1>
        <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-slate-200 sm:text-4xl">Privacy Policy</span>
        <p class="mt-8 text-xl leading-8 text-slate-400 text-center font-bold">
          20th February 2023
        </p>  
      </h1>
    </div>
    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-slate-400">
      <h2 class="text-slate-50">1. Introduction</h2>
      <p>1.1. This Privacy Policy sets out how Upmaru and all Platforms operated by Upmaru (the "Provider" or "We") collects, uses, and discloses personal information of website visitors who choose to use our Service ("you" or "user").</p>
      <h2 class="text-slate-50">2. Collection of Personal Information</h2>
      <p>2.1. We may collect various types of personal information from you, including your name, email address, and other contact details, as well as any other information you may choose to provide to us.</p>
      <p>2.2. We may also collect certain technical information about your use of the Service, such as your IP address, browser type, and device information.</p>
      <h2 class="text-slate-50">3. Use of Personal Information</h2>
      <p>3.1. We will use your personal information to provide and improve our Service, and to communicate with you regarding the Service.</p>
      <p>3.2. We may also use your personal information to personalize and improve your user experience on the Service.</p>
      <p>3.3. We will not use your personal information for any other purposes without your express consent.</p>
      <h2 class="text-slate-50">4. Disclosure of Personal Information</h2>
      <p>4.1. We may disclose your personal information to our third-party service providers who assist us in providing the Service and improving its quality.</p>
      <p>4.2. We may also disclose your personal information if required to do so by law, or if we believe in good faith that such disclosure is necessary to protect our rights or the safety of others.</p>
      <p>4.3. We will not sell, trade, or rent your personal information to any third parties for marketing purposes.</p>
      <h2 class="text-slate-50">5. Security</h2>
      <p>5.1. We take appropriate technical and organizational measures to protect your personal information from unauthorized access, disclosure, or destruction.</p>
      <p>5.2. However, we cannot guarantee the absolute security of your personal information.</p>
      <h2 class="text-slate-50">6. Children's Privacy</h2>
      <p>6.1. Our Service is not intended for children under the age of 13, and we do not knowingly collect personal information from children under 13. If we become aware that we have collected personal information from a child under 13 without parental consent, we will take steps to remove that information from our servers.</p>
      <h2 class="text-slate-50">7. Changes to this Privacy Policy</h2>
      <p>7.1. We reserve the right to update this Privacy Policy from time to time by posting a new version on our website. The new version will take effect on the date of posting.</p>
      <h2 class="text-slate-50">8. Contact Us</h2>
      <p>8.1. If you have any questions or concerns about this Privacy Policy, please contact us at <a class="text-purple-400" href="mailto:support@upmaru.com">support@upmaru.com</a></p>
      
      <p>This privacy policy shall be governed by and construed in accordance with the laws of Delaware, USA.</p>
    </div>
  </div>
</Main>
