---
import Main from "../layouts/Main.astro";
---

<Main
  title="Terms of Use | Upmaru"
  description="Read Upmaru's Terms of Use for our products and platforms, including Opsmaru, Kritama, and Memovee."
>
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-lg">
      <h1>
        <span
          class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-slate-200 sm:text-4xl"
          >Terms of Use</span
        >
      </h1>
      <p class="mt-8 text-xl leading-8 text-slate-400 text-center font-bold">
        February 12, 2026
      </p>
    </div>
    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-slate-400">
      <p>
        Welcome to Upmaru! This website and all its subdomains, applications,
        and platforms (collectively, the “Service”) are owned, developed, and
        operated by Upmaru, Inc. (referred to as "Upmaru", "us", "we", or
        "our"). Before accessing or using any of our services, please read these
        Terms and Conditions (“Terms”, “Terms and Conditions”, or “Terms of
        Use”) carefully. By accessing or using our Service, you agree to be
        bound by these Terms.
      </p>
      <h2 class="text-slate-50">Products and Platforms</h2>
      <p>
        Our Service includes Upmaru websites and product platforms, including
        but not limited to <a
          class="text-purple-400"
          href="https://opsmaru.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          >opsmaru.com</a
        >, <a
          class="text-purple-400"
          href="https://kritama.com"
          target="_blank"
          rel="noopener noreferrer">kritama.com</a
        >, and <a
          class="text-purple-400"
          href="https://memovee.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          >memovee.com</a
        >.
      </p>
      <p>
        By accessing or using any of our Products or Platforms, you agree to be
        bound by these Terms. If you disagree with any part of these Terms, you
        may not access the Service.
      </p>
      <h2 class="text-slate-50">Code of Conduct</h2>
      <p>
        By accessing or using any of our Platforms, you agree to comply with our
        Code of Conduct, which includes but is not limited to the following
        rules:
      </p>
      <ul>
        <li>
          Do not engage in illegal activities or promote illegal activities.
        </li>
        <li>
          Do not commit fraud or engage in any activity that is intended to
          deceive or mislead others.
        </li>
        <li>Do not send spam or conduct data mining activities.</li>
        <li>Do not exploit, harass, threaten, or otherwise harm others.</li>
        <li>
          Do not impersonate any person or entity, or misrepresent your
          affiliation with any person or entity.
        </li>
        <li>
          Do not engage in activities related to bots or automated scripts that
          may disrupt the Platforms or other users' experience.
        </li>
        <li>Use the Platforms only for their intended purpose.</li>
      </ul>
      <p>
        You acknowledge and agree that any violation of these rules may result
        in the immediate deletion of your account and associated data, and may
        also subject you to legal liability or other consequences. You further
        acknowledge and accept that Upmaru may modify or update its Code of
        Conduct at any time, without notice or liability. Whether your conduct
        violates our Code of Conduct will be determined in Upmaru's sole
        discretion, and Upmaru may take any action it deems appropriate,
        including the suspension or termination of your account, in response to
        any violation of our Code of Conduct.
      </p>
      <h2 class="text-slate-50">Contact Details</h2>
      <p>
        Upmaru is a legal entity registered as a C-Corporation in the State of
        Delaware, United States, under file number 7188353. You may contact us
        at <a class="text-purple-400" href="mailto:support@upmaru.com"
          >support@upmaru.com.</a
        >
      </p>
      <h2 class="text-slate-50">Cancellation and Refund Policy</h2>
      <p>
        Our Service generally includes a free trial option. Following the free
        trial, the user may choose to continue using our Service under a free
        tier plan. By upgrading to a paid plan, the user acknowledges that their
        usage will exceed the limitations of the free tier plan and will require
        the additional features and support provided by the paid plans. All
        payments made for such upgrades are non-refundable.
      </p>
      <p>
        If you cancel a paid plan, the cancellation will become effective at the
        end of the then-current billing cycle. You will not receive any refund
        for the remaining portion of the paid plan subscription. Your account
        will be downgraded to a free account at the end of the then-current
        billing cycle, and you will no longer have access to the features
        available only to paid plan users.
      </p>
      <p>
        You acknowledge and agree that Upmaru may, at its sole discretion,
        disable access to features available only to paid plan users upon
        cancellation of the paid plan subscription. Upmaru will not be liable
        for any loss or damage arising from or in connection with the
        cancellation of a paid plan subscription or the downgrade of the account
        to a free account.
      </p>
      <h2 class="text-slate-50">Errors and Bugs</h2>
      <p>
        Upmaru makes no warranties or representations, express or implied,
        regarding the availability or reliability of its Products and Services.
        While Upmaru uses commercially reasonable efforts to prevent unexpected
        errors and ensure that its systems are accessible at all times, Upmaru
        does not guarantee that its products and services will be error-free or
        uninterrupted, and is not responsible for any consequences arising from
        errors or interruptions.
      </p>
      <p>
        In the event that you encounter any errors or bugs while using Upmaru's
        Products and Services, you are encouraged to report them to Upmaru's
        support team as soon as possible. Upmaru will make reasonable efforts to
        investigate and resolve any reported errors or bugs in a timely manner,
        but makes no guarantees as to the outcome or timeline for such
        investigations and resolutions.
      </p>
      <p>
        Upmaru is not responsible for any damages or losses that may result from
        errors or bugs in its Products and Services, including but not limited
        to loss of data, profits, or business opportunities. You acknowledge and
        agree that the use of Upmaru's Products and Services is at your own
        risk, and that you are solely responsible for any consequences that may
        arise from such use.
      </p>
      <h2 class="text-slate-50">Intellectual Property Rights</h2>
      <p>
        The content of the Platforms, including but not limited to text,
        graphics, logos, images, audio clips, digital downloads, data
        compilations, and software, is the property of Upmaru and is protected
        by United States and international copyright laws. You may not copy,
        reproduce, distribute, publish, display, perform, modify, create
        derivative works, transmit, or in any way exploit any part of the
        content of the Platforms without our prior written consent.
      </p>
      <p>
        You acknowledge and accept that any use of the content of the Platforms
        not expressly authorized by these Terms is a violation of Upmaru's
        intellectual property rights and may subject you to legal liability. You
        also acknowledge and accept that Upmaru may modify or update the content
        of the Platforms at any time, without notice or liability.
      </p>
      <h2 class="text-slate-50">Indemnification</h2>
      <p>
        You agree to indemnify, defend, and hold harmless Upmaru, its
        affiliates, officers, directors, employees, agents, and licensors from
        and against any and all claims, liabilities, damages, losses, costs,
        expenses, or fees (including reasonable attorneys' fees) arising from or
        in connection with your use of the Platforms, your breach of these
        Terms, or your violation of any applicable law, regulation, or
        third-party right.
      </p>
      <p>
        You acknowledge and agree that Upmaru reserves the right, at its own
        expense, to assume the exclusive defense and control of any matter
        otherwise subject to indemnification by you, in which event you will
        cooperate with Upmaru in asserting any available defenses.
      </p>
      <h2 class="text-slate-50">Disclaimer of Warranties</h2>
      <p>
        The Platforms are provided "as is" and "as available," without any
        warranties of any kind, express or implied. To the maximum extent
        permitted by law, Upmaru disclaims all warranties, whether express or
        implied, including but not limited to warranties of merchantability,
        fitness for a particular purpose, non-infringement, and quiet enjoyment.
        Upmaru does not warrant that the Platforms will meet your requirements
        or be uninterrupted, timely, secure, or error-free, or that any defects
        in the Platforms will be corrected.
      </p>
      <h2 class="text-slate-50">Limitation of Liability</h2>
      <p>
        To the maximum extent permitted by law, Upmaru and its affiliates,
        officers, directors, employees, agents, and licensors will not be liable
        for any direct, indirect, incidental, special, consequential, or
        exemplary damages, including but not limited to damages for loss of
        profits, goodwill, use, data, or other intangible losses, resulting from
        or in connection with your use of the Platforms or the inability to use
        the Platforms, whether based on warranty, contract, tort, or any other
        legal theory, even if Upmaru has been advised of the possibility of such
        damages.
      </p>
      <p>
        You acknowledge and agree that Upmaru's total liability for any claims,
        losses, or damages arising from or in connection with these Terms or
        your use of the Platforms, whether in contract, tort, or otherwise, will
        be limited to the amount paid by you to Upmaru for the use of the
        Platforms during the twelve (12) months preceding the event giving rise
        to such claims, losses, or damages.
      </p>
      <h2 class="text-slate-50">Dispute Resolution</h2>
      <p>
        These Terms will be governed by and construed in accordance with the
        laws of the State of Delaware, without regard to its conflict of law
        provisions. Any dispute arising from or relating to these Terms or the
        Platforms will be resolved exclusively by arbitration in accordance with
        the rules of the American Arbitration Association, and the award
        rendered by the arbitrator(s) will be final and binding. The arbitration
        will be conducted in English and will be held in Delaware, United
        States.
      </p>
      <h2 class="text-slate-50">Miscellaneous</h2>
      <p>
        These Terms constitute the entire agreement between you and Upmaru and
        supersede all prior or contemporaneous communications and proposals,
        whether oral or written, between you and Upmaru. If any provision of
        these Terms is found to be unenforceable or invalid, that provision will
        be limited or eliminated to the minimum extent necessary so that these
        Terms will otherwise remain in full force and effect and enforceable.
        Upmaru may assign or delegate these Terms, in whole or in part, at any
        time with or without notice to you. You may not assign or delegate any
        rights or obligations under these Terms without Upmaru's prior written
        consent, and any unauthorized assignment or delegation by you is void.
        The failure of Upmaru to enforce any right or provision in these Terms
        will not constitute a waiver of such right or provision unless
        acknowledged and agreed to by Upmaru in writing. The section titles in
        these Terms are for convenience only and have no legal or contractual
        effect.
      </p>
    </div>
  </div>
</Main>
